/*GENERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'SF Pro Display', sans-serif !important;
    background-color: #ffffff !important;
    font-size: 0.8rem !important;
    color: #333336 !important;
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto; /* Header - Main (flexible) - Footer */
    min-height: 100vh;
}

h1.titulo{
    display:none;
}

.btn{
    border-radius: 50px !important;
}

/*NAVBAR*/
header nav.navbar{
    background-color: #6e6e7307 !important;
}
header nav div#navbarNav{
    justify-content: center;
}

/*LINKS*/
a{
    color: #333336 !important;
    text-decoration: none;
}
a:hover{
    color: black !important;
}

/*INICIO*/
div.container-inicio section.header{
    background-image: url(../assets/imagenes/inicio/header-img-iphones.jpg);
    background-size: cover;
    height: 30rem;
    background-position: bottom;
    border-radius: 1rem;
    box-shadow: 1px 5px 21px -6px rgba(92,92,92,0.46);
    -webkit-box-shadow: 1px 5px 21px -6px rgba(92,92,92,0.46);
    -moz-box-shadow: 1px 5px 21px -6px rgba(92,92,92,0.46);
    background-repeat: no-repeat;
}
div.container-inicio section div#ipads-colores{
    background-image: url(../assets/imagenes/inicio/ipads-colores.jpg);
    background-size: cover;
    height: 40rem;
    background-position: bottom;
    border-radius: 1rem;
    width: 48%;
    box-shadow: 1px 5px 21px -6px rgba(92,92,92,0.46);
    -webkit-box-shadow: 1px 5px 21px -6px rgba(92,92,92,0.46);
    -moz-box-shadow: 1px 5px 21px -6px rgba(92,92,92,0.46);
}
div.container-inicio section div#ipads-colores h3{
    padding: 3rem 3rem 1rem;
    font-weight: 600;
    font-size: 2rem;
}
div.container-inicio section div#ipads-colores a{
    background-color: white;
    padding: 0.4rem 1rem;
    border-radius: 1rem;
    font-weight: 500;
    text-align: center;
}
div.container-inicio section div#ipads-colores a:hover{
    box-shadow: 1px 5px 21px -6px rgba(92,92,92,0.46);
    -webkit-box-shadow: 1px 5px 21px -6px rgba(92,92,92,0.46);
    -moz-box-shadow: 1px 5px 21px -6px rgba(92,92,92,0.46);  
}
div.container-inicio section div#descuento-estudiantes{
    background-image: url(../assets/imagenes/inicio/descuento-estudiantes.jpg);
    background-size: cover;
    height: 40rem;
    background-position: bottom;
    border-radius: 1rem;
    width: 48%;
    box-shadow: 1px 5px 21px -6px rgba(92,92,92,0.46);
    -webkit-box-shadow: 1px 5px 21px -6px rgba(92,92,92,0.46);
    -moz-box-shadow: 1px 5px 21px -6px rgba(92,92,92,0.46);
}
div.container-inicio section div#descuento-estudiantes h3{
    padding: 3rem 3rem 0;
    font-weight: 600;
    font-size: 2rem;
}
div.container-inicio section div#descuento-estudiantes p{
    border-radius: 1rem;
    text-align: center;
}
div.container-inicio section div#descuento-estudiantes a{
    background-color: rgb(238, 130, 58)!important;
    color: white !important;
    padding: 0.4rem 1rem;
    border-radius: 1rem;
    text-align: center;
}
div.container-inicio section div#descuento-estudiantes a:hover{
    box-shadow: 1px 5px 21px -6px rgba(92,92,92,0.46);
    -webkit-box-shadow: 1px 5px 21px -6px rgba(92,92,92,0.46);
    -moz-box-shadow: 1px 5px 21px -6px rgba(92,92,92,0.46);  
}
div.container-inicio section#macbook-promo{
    background-image: url(../assets/imagenes/inicio/macbook-promo.jpg);
    background-size: cover;
    height: 40rem;
    background-position: bottom;
    border-radius: 1rem;
    box-shadow: 1px 5px 21px -6px rgba(92,92,92,0.46);
    -webkit-box-shadow: 1px 5px 21px -6px rgba(92,92,92,0.46);
    -moz-box-shadow: 1px 5px 21px -6px rgba(92,92,92,0.46);
}
div.container-inicio section#macbook-promo h3{
    font-size: 3rem;
}
div.container-inicio section#macbook-promo a{
    background-color: white;
    padding: 0.4rem 1rem;
    border-radius: 1rem;
    font-weight: 500;
    text-align: center;
}
div.container-inicio section#macbook-promo a:hover{
    box-shadow: 1px 5px 21px -6px rgba(92,92,92,0.46);
    -webkit-box-shadow: 1px 5px 21px -6px rgba(92,92,92,0.46);
    -moz-box-shadow: 1px 5px 21px -6px rgba(92,92,92,0.46);
}
div.container-inicio section.categorias div div.card{
    margin-right: 1rem;
    text-align: center;
    border: none !important;
    border-color: transparent !important;
}

#carouselCategorias{
    height: 100%;
}

div.container-inicio section.categorias div div.card img{
    margin: 2rem 0;
}
div.container-inicio section.categorias div div.card div.card-body a.btn{
    color: #232325 !important;
    background-color: transparent !important;
    border: none !important;
    text-decoration: none;
    font-weight: 600;
}
div.container-inicio section.categorias div div.card div.card-body a.btn:hover{
    color: black !important;
    text-decoration: underline !important;
}

/*categorias*/
div.container-categoria  div div div.card-producto{
    border: 0 transparent !important;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(71, 71, 71, 0.15) !important;
}
div.container-categoria  div div div a.btn{
    background-color: #232325 !important;
    color: white !important;
    padding: 0.4rem 1rem;
    border-radius: 2rem;
    text-align: center;
    width: 100% !important;
    border-color: transparent !important;
}
div.container-categoria  div div div a.btn:hover{
    background-color: #0071e3 !important;
    border-color: transparent !important;
}
div.container-categoria section.categorias div div.card-producto{
    margin-right: 1rem;
    text-align: center;
    border: none !important;
}
body > div > div.row.justify-content-center > div > div > img{
    padding: 2rem 0;
}

#carouselCategorias > div > div > div > div{
    margin-right: 1rem;
    text-align: center;
    border: none !important;
    border-color: transparent !important;
}

div.container-categoria section.categorias div div.card-producto div.card-body a.btn{
    color: #232325 !important;
    background-color: transparent !important;
    border: none !important;
    text-decoration: none;
    font-weight: 600;
}
div.container-categoria section.categorias div div.card-producto div.card-body a.btn:hover{
    color: black !important;
    text-decoration: underline !important;
}

/*CONTACTO*/
div.container-contacto img{
    box-shadow: 1px 5px 21px -6px rgba(92,92,92,0.46);
    -webkit-box-shadow: 1px 5px 21px -6px rgba(92,92,92,0.46);
    -moz-box-shadow: 1px 5px 21px -6px rgba(92,92,92,0.46);
}
div.container-contacto div form > div.d-flex.justify-content-between > div{
    width: 49%;
}
div.container-contacto div form input.btn{
    width: 100% !important;
    background-color: #202022 !important;
    border: none !important;
}
div.container-contacto div form input.btn:hover{
    background-color: rgb(24, 24, 24) !important;
    color: white !important;
}
div.container-contacto > div{
    width: 80%;
    margin: 2rem auto;
}
div.container-contacto section{
    width: 80%;
    margin: 2rem auto;
}
div.container-contacto section.d-flex{
    align-items: center !important;
}

/*PRODUCTOS*/
div.container-productos main div div div.card-producto{
    border: 0 transparent !important;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(71, 71, 71, 0.15) !important;
}
div.container-productos main div div div a.btn{
    background-color: #232325 !important;
    color: white !important;
    padding: 0.4rem 1rem;
    border-radius: 2rem;
    text-align: center;
    width: 100%;
}
div.container-productos main div div div a.btn:hover{
    background-color: #0071e3 !important;
}
div.container-productos section.categorias div div.card-producto{
    margin-right: 1rem;
    text-align: center;
    border: none !important;
}
body > main > div > main > div.row.justify-content-center > div > div > img{
    padding: 2rem 0;
}

#carouselCategorias > div > div > div > div{
    margin-right: 1rem;
    text-align: center;
    border: none !important;
    border-color: transparent !important;
}

div.container-productos section.categorias div div.card-producto div.card-body a.btn{
    color: #232325 !important;
    background-color: transparent !important;
    border: none !important;
    text-decoration: none;
    font-weight: 600;
}
div.container-productos section.categorias div div.card-producto div.card-body a.btn:hover{
    color: black !important;
    text-decoration: underline !important;
}

/*ALUMNAS*/
div.container-alumnas > div#alumna:nth-child(2){
    border-left:1px solid #dfdfdf !important;
    border-right:1px solid #dfdfdf !important;
}

/*FOOTER*/
footer{
    padding: 3rem;
    background-color: #6e6e7307;
}
footer > div{
    width: 80rem;
    align-items: center;
    margin: 0 auto;
}
footer div ul{
    padding-left: 0;
    margin-right: 3rem;
}
footer div ul ul.submenu{
    padding-left: 1rem !important;
}
footer div ul ul.submenu li a{
    color: #6e6e73 !important;
}
footer div ul ul.submenu li a:hover{
    color: #333336 !important;
}
footer div ul li{
    list-style: none
}
footer div#footer-detalles{
    color: #6e6e73b9 !important;
    border-top: 0.1rem solid #6e6e7348;
}
footer div#footer-detalles p{
    padding-top: 1rem;
}